<%- include("partials/header"); -%>

    <h1> Home</h1>
    <p><%= showPara %></p>

    <% postToHome.forEach(function(elements){ %>
        <h1><%= elements.titleArea %></h1>
        <p><%= elements.textArea.substring(0,100)+" ..." %>
        <a href="/posts/<%=elements.titleArea%>">Read More</a>
        </p>

    <% }); %>



<%- include("partials/footer"); -%>